/* @import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap"); */

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  background: #000;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url("../public/img/back.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.pie {
  background-color: #000;
  padding: 0;
  margin: 0;
  /* width: 100px; */
}
